// style createjob
//
// @project
// @copyright
// @author      zhanghaibin
// @version     1.0
//

// CSS Menu
//
// Base
// 
// 

// * Base
// ----------------------------------------

@import (reference) "core/core.less";

// 使用.cf清除浮动会将所有要清除浮动的样式合并, 如要单独清除浮动请使用.clearfix
.clearfix {
    .clearfix-mixin;
}
#container {
    
}
hr {
    margin: 40px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e8e8e8 transparent #dad8d8 transparent; 
}
