// style createjob
//
// @project
// @copyright
// @author      zhanghaibin
// @version     1.0
//

// CSS Menu
//
// Base
// PowerRequire
// OtherRequire
// PowerModule
//

// * Base
// ----------------------------------------
@charset "utf-8";

@import (reference) "core/core.less";

// 使用.cf清除浮动会将所有要清除浮动的样式合并, 如要单独清除浮动请使用.clearfix
.clearfix {
    .clearfix-mixin;
}
#container {

}
hr {
    margin: 40px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e8e8e8 transparent #dad8d8 transparent;
}
// 编辑器样式
.simditor {
    width: 495px;
    .simditor-body {
        overflow-y: auto;
        min-height: 185px;
        max-height: 300px;
        font-size: 14px;
        line-height: 1.2;
        p {
            margin-bottom: 5px;
        }
    }
    .simditor-wrapper {
        .simditor-placeholder {
            font-size: 14px;
        }
    }
}

// * Power Require
// ----------------------------------------

.power-require {
    margin-bottom: 30px;
    position: relative;
    >header {
        margin-bottom: 30px;
        .cf;
        .caption {
            float: left;
            margin-bottom: 0;
        }
    }
}
// power require note
.pr-note {
    float: right;
    margin-top: 10px;
    li {
        float: left;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}
// power require list
.pr-list {
    .mod-power {
        margin-bottom: 20px;
      }
}


// * Other Require
// ----------------------------------------

.other-require {
    >header {
        &:extend(.power-require>header all);
    }
}

// other require list
.or-list {
    li {
        .text-overflow;
        margin-bottom: 20px;
        padding: 10px;
        background-color: #fff;
        border-left: 3px solid #35B558;
        line-height: 30px;
        color: #333;
        font-size: 16px;

        .addScore {
            margin-right: 20px;
            color: #35B558;
            font-weight: normal;
        }
    }
}

// * Power Module
// ----------------------------------------

.mod-power {
    .cf;
    padding: 25px 0;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    .box-shadow(3px 3px 3px rgba(0,0,0,.1));

    .power-control, .power-chart {
        height: 220px;
        padding: 0 20px;
    }
    .power-control {
        float: left;
        width: 272px;
        border-right: 1px solid #e4e4e4;
        h3 {
            .text-overflow;
            margin-bottom: 10px;
            color: #d32024;
            font-size: 30px;
            font-weight: normal;
            line-height: 1;
            text-transform: uppercase;
            text-align: center;
        }
        h5 {
            .text-overflow;
            margin-bottom: 40px;
            color: #333;
            font-size: 12px;
            font-weight: normal;
            text-align: center;
        }
    }
    .power-import {
        margin-bottom: 65px;
        color: #333;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 10px;
        .user-select-none;
        .mod-range {
            margin: 0 4px;
        }
    }
    .power-ctrl-btns {
        float: right;
        .btn {
            float: left;
            height: 30px;
            margin-left: 8px;
            padding: 0 14px;
        }
    }
    .power-chart {
        margin-left: 273px;
        >h4 {
            margin-bottom: 14px;
            color: #333;
            font-size: 14px;
            font-weight: normal;
        }
    }
    .mod-power-chart {
        margin-bottom: 46px;
    }
    .power-import-note {
        position: relative;
        padding-right: 130px;
        height: 100px;
        li {
            margin-bottom: 23px;
            &:last-child {
                margin-bottom: 0;
            }
            >strong {
                display: block;
                margin-left: 178px;
                color: #333;
                font-weight: normal;
            }
        }
        .require-import {
            float: left;
            color: #999;
        }
        .btn-edit {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 120px;
        }
    }
}
//========================================各种弹出层
////添加专业弹出层----addprofessinal.html页面用到--------------------------
.addprofessional{
  background: #fff;
  overflow: hidden;
  z-index: 920;
  width:948px;
//  height: 448px;
  border:1px solid #cccccc;
//  阴影效果待添加
  header{
    //清浮动方法还有更好的，不熟悉
    border-bottom:2px solid #e1e1e1;
    overflow: hidden;
//    height: 56px;
    line-height: 56px;
    h2{
      float: left;
      width:400px;
      padding-left:10px ;
      font:16px/56px "微软雅黑";
      border-bottom: 1px solid #f3f3f3;
    }
    .close{
      float: right;
      padding-right: 25px;
      height: 56px;
      width:18px;
      background: url("../img/ui/close.jpg") no-repeat left 19px;
      &:hover{
        cursor: pointer;
      }

    }
  }
  .content{
    padding:0 22px 0 19px;
    max-height: 500px;
    overflow-y: auto;
    .system-professional{
      overflow: hidden;
      h3{
        height: 50px;
        font:14px/50px "微软雅黑";
      }

    }
    .my-professional{
      overflow: hidden;
      h3{
        height: 42px;
        font:14px/42px "微软雅黑";
      }

    }
    .adduser-defined{
      h3{
        height: 36px;
        font:14px/36px "微软雅黑";
      }
      .btn-reverse{
        margin:5px 0 6px 0;
      }

    }
    .probtn{
      display: block;
      float: left;
      margin-bottom: 19px;
      margin-right: 10px;
      background-color:#eaf7ee;
      height: 40px;
      font:18px/40px "微软雅黑";
      padding:0 40px;
      color:#35b558;
      border-radius: 3px;
      border:1px solid #35b558;
    }
    .probtn.active{
      background: #35b558;
      color:#fff;
    }

  }
}
////编辑专业需求弹出层---------editmajor.html页面有用到;myprofessional.html---------------------
.editmajor,.myprofessional{
  background: #fff;
  z-index: 910;
//  width:945px;
  width:965px;
  max-height: 600px;
  overflow-y: auto;
  border:1px solid #cccccc;
  >header{//照抄的前面的
    //清浮动方法还有更好的，不熟悉
    border-bottom:2px solid #e1e1e1;
    overflow: hidden;
    height: 56px;
    line-height: 56px;
    h2{
      float: left;
      width:400px;
      padding-left:10px ;
      font:16px/56px "微软雅黑";
      border-bottom: 1px solid #f3f3f3;
    }
    .close{
      float: right;
      padding-right: 25px;
      height: 56px;
      width:18px;
      background: url("../img/ui/close.jpg") no-repeat left 19px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .content{

    padding:0 19px;
    .head{
      overflow: hidden;
      margin-top: 20px;
      h2{
        float: left;
        width:209px;
        height:23px ;
        font:23px/23px "微软雅黑";
        color:red;
      }
      ul{
        float: left;
        height: 23px;
        padding-left:132px ;
        overflow: hidden;
      }
      li{
        padding-left: 48px;
        float: left;
        height: 23px;
        font:12px/23px "宋体";
        &:nth-of-type(1){
          background: url("../img/ui/1.jpg") no-repeat 20px 3px;
        };
        &:nth-of-type(2){
          background: url("../img/ui/2.jpg") no-repeat 20px 3px;
        };
        &:nth-of-type(3){
          background: url("../img/ui/3.jpg") no-repeat 20px 3px;
        };
        &:nth-of-type(4){
          background: url("../img/ui/4.jpg") no-repeat 20px 3px;
        };
      }

    }
    .list{
      .select-head{
        height: 48px;
        font:14px/48px "微软雅黑";
        overflow: hidden;
        h3,ul{
          float: left;
          overflow: hidden;
        }
      }

      li{
        float: left;
        padding-left: 14px;

      }
      .select-head li a:hover{
        cursor: pointer;
        color:#38761d;
      }
      .select-head li.active{
        a{
          background: #35b558;
          color:#fff;
        }
      }
    }
    //自定义技能点添加
    .myskills .text{
      width:100%;
      height: 100%;
      border:none;
    }
    
    
    
    .newAdd{
      clear:both;
      .tickUnit.proneed{
        margin-right:0 ;
        margin-bottom: 0;
      }
    }
    .newAdd .operation{
      clear:both;
      width:293px;
      height:30px ;
      border:1px solid #cccccc;
      border-radius: 0 0 2px 2px;
      padding-left: 200px;
      a{
        display: inline-block;
        width:38px;
        height: 30px;
        text-align: center;
        line-height: 30px;
      }

      a:nth-of-type(2){
        color:red;
      }

    }
    .btn-reverse{
      color:#35b558;
    }
  }
  footer{
    position: relative;
    height: 80px;
    border-top:2px solid #e1e1e1 ;
    margin-top: 39px;
    .savemypro{
      position: absolute;
      left:28px;
      top:30px;
      input{
        width:18px;
        height: 18px;
      }
      label{
        font-size: 14px;
      }
    }
    .btn-reverse{
      position: absolute;
      right: 24px;
      top:20px;
    }

  }
}
////myprofessional.html略加修改---------------------
.myprofessional{
  .pro-name{
    height: 56px;
    width: 306px;
    border:1px solid #cccccc;
    margin-left:20px ;
    margin-top: 22px;
    input{
      width:100%;
      height:56px ;
      font:24px/56px "微软雅黑";
      color:red;
      padding-left: 9px;
    }
  }
  .content{
    .head{
      overflow: hidden;
      padding-top: 20px;
      padding-bottom: 28px;
      h3{
        float: left;
      }
      ul{
        float: right;
      }
    }
  }
}
//extrademand.html页面样式==========
.extrademand{
  background: #fff;
  z-index: 910;
  width:965px;
  max-height: 600px;
  overflow-y: auto;
  border:1px solid #cccccc;
  >header {
    border-bottom: 2px solid #e1e1e1;
    overflow: hidden;
    height: 56px;
    line-height: 56px;
    h2{
      float: left;
      width:400px;
      padding-left:10px ;
      font:16px/56px "微软雅黑";
      border-bottom: 1px solid #f3f3f3;
    }
    .close{
      float: right;
      padding-right: 25px;
      margin-right: 19px;

      height: 56px;
      width:18px;
      background: url("../img/ui/close.jpg") no-repeat left 19px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .content{
    width:907px;
    height: 236px;

    paddding:0 19px;
    margin:19px auto;
    overflow: hidden;
    position: relative;
  }
  .textArea{
    float: left;
    width:712px;
    width:700px;
    height:50px ;
    border:1px solid #cccccc;
    padding-left:10px;
    font:14px/50px "微软雅黑";
  }
  .selectArea{
    float: right;
    width:182px;
    .head{
      height: 50px;
      border:1px solid #cccccc;
      overflow: hidden;
      span{
        display: block;
        float: left;;
        border-right: 1px solid #cccccc;
        width:129px;
        height: 50px;
        font: 30px/50px "微软雅黑";
        color:#35b558;
        padding-left: 12px;
        strong{
          font-weight: normal;
        }
      }
      i{
        float: right;
        display: block;
        width:50px;
        height: 50px;
        background: url("../img/ui/icon-select-2.jpg") no-repeat left top;
      }
    }
    .con{
      border:1px solid #cccccc;
      border-top: none;
      display: none;
      li{
        height: 36px;
        font: 30px/36px "微软雅黑";
        padding-left:12px ;
        &:hover{
          cursor: pointer;
          background:#35b558;
          color:#fff;
        }
      }

    }




  }
  .btn-reverse{
    position: absolute;
    bottom:120px;
    right:0;
  }
}
