@charset "utf-8";
/**
 * Reset CSS
 * author:ZhangHaiBin
 * date:2015-2-28;
 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
keygen,
legend,
menu,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
abbr,
fieldset,
img {
  border: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
address,
em,
i,
optgroup {
  font-style: normal;
}
img {
  vertical-align: middle;
}
q:before,
q:after {
  content: '';
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
small {
  font-size: 85.7%;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
/* HTML 5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section,
summary {
  display: block;
}
html {
  overflow-y: scroll;
}
body {
  color: #666666;
  font: normal 12px/1.4 Verdana, "Lantinghei SC", "Hiragino Sans GB", 'Microsoft YaHei', Helvetica, arial, simsun, sans-serif;
}
input,
button {
  outline: 0;
}
table {
  max-width: 100%;
}
a {
  color: #0e90d2;
  text-decoration: none;
}
a:hover {
  color: #095f8a;
  text-decoration: none;
}
.gray {
  -webkit-filter: grayscale(100%);
  /* firefox */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* firefox v35开始支持标准格式 */
  filter: grayscale(100%);
  /* IE */
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -ms-filter: grayscale(100%);
}
.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.symbol {
  /* 符号字体 */
  font-family: simsun !important;
}
.clear {
  clear: both !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.block {
  display: block !important;
}
.hide {
  display: none !important;
}
.hidden {
  visibility: hidden !important;
}
/* show */
.show {
  display: block !important;
}
.show-inline {
  display: inline !important;
}
.show-inlineblock {
  display: inline-block !important;
}
.show-table {
  display: table !important;
}
.disabled:hover,
.disabled:hover a {
  cursor: default !important;
  cursor: not-allowed !important;
}
/* color */
.lightColor {
  /* 浅色 */
  color: #999999 !important;
}
.tipColor {
  /* 提示色 */
  color: #fd6505 !important;
}
.warnColor {
  /* 警告色 */
  color: #ff0000 !important;
}
.successColor {
  /* 成功色 */
  color: #35b558 !important;
}
/* text align */
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
/* mask */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.4;
}
/* position */
.static {
  position: static !important;
}
.absolute {
  position: absolute !important;
}
.fixed {
  position: fixed !important;
}
/* loading img */
.load-img {
  background: url() no-repeat center center;
}
/* font-face */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* code */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  box-shadow: none;
}
pre {
  display: block;
  font-size: 12px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  color: #666666;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
/* scroll */
.pre-scroll {
  max-height: 340px;
  overflow-y: scroll;
}
/* control base */
input,
button,
a.btn,
span.btn,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
span.btn,
a.btn,
select,
label {
  vertical-align: middle;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  line-height: normal;
  cursor: pointer;
}
.placeholder {
  color: #999999 !important;
}
.errIpt,
.errIpt:focus,
.errIpt:hover {
  background: #ffe8e8 !important;
  border: 1px solid #ef7f7f !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.errTxt {
  color: #ff0000 !important;
}
/* note */
.note {
  color: #666666;
  vertical-align: middle;
}
span.note {
  padding-left: 5px;
}
div.note {
  padding: 5px 0 0;
  line-height: 1.8;
}
.note strong {
  padding: 0 5px;
  color: #ff0000;
}
.note b {
  padding: 0 5px;
  color: #333333;
}
/* checkbox & radio */
input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
  margin: 0 5px 0 2px;
  cursor: pointer;
}
input[type="checkbox"][disabled],
input[type="radio"][disabled],
input[type="checkbox"][disabled]:hover,
input[type="radio"][disabled]:hover,
input[type="checkbox"][disabled]:focus,
input[type="radio"][disabled]:focus,
input[type="checkbox"][disabled]:active,
input[type="radio"][disabled]:active {
  cursor: default !important;
  cursor: not-allowed !important;
}
label input[type="checkbox"],
label input[type="radio"] {
  position: relative;
  top: -1px;
  left: 0;
}
/* button */
.btn {
  height: 32px;
  padding: 0 20px;
  font-size: 14px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.8s, border-color 0.8s, color 0.8s;
  -moz-transition: background-color 0.8s, border-color 0.8s, color 0.8s;
  transition: background-color 0.8s, border-color 0.8s, color 0.8s;
}
.btn,
a.btn,
span.btn {
  background: #eaeaea;
  border-color: #eaeaea;
  color: #666666;
}
.btn:hover,
a.btn:hover,
span.btn:hover {
  background: #eeeeee;
  color: #999999;
}
.btn:active,
a.btn:active,
span.btn:active {
  background: #eeeeee;
  color: #999999;
}
a.btn,
span.btn {
  display: inline-block;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}
a.btn:hover,
span.btn:hover {
  text-decoration: none;
}
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
.btn.disabled:active,
.btn[disabled]:active {
  background: #eeeeee !important;
  border: 1px solid #e7e7e7 !important;
  color: #999999 !important;
  cursor: default !important;
  cursor: not-allowed !important;
}
/* button theme */
.btn-def,
a.btn-def,
span.btn-def {
  background: #35b558;
  border-color: #35b558;
  color: #ffffff;
}
.btn-def:hover,
a.btn-def:hover,
span.btn-def:hover {
  background: #66d178;
  border-color: #66d178;
  color: #ffffff;
}
.btn-def:active,
a.btn-def:active,
span.btn-def:active {
  background: #66d178;
  border-color: #66d178;
  color: #ffffff;
}
.btn-primary,
a.btn-primary,
span.btn-primary {
  background: #2d85ca;
  border-color: #2d85ca;
  color: #ffffff;
}
.btn-primary:hover,
a.btn-primary:hover,
span.btn-primary:hover {
  background: #4a9bdb;
  border-color: #4a9bdb;
  color: #ffffff;
}
.btn-primary:active,
a.btn-primary:active,
span.btn-primary:active {
  background: #4a9bdb;
  border-color: #4a9bdb;
  color: #ffffff;
}
.btn-warn,
a.btn-warn,
span.btn-warn {
  background: #ff5c00;
  border-color: #ff5c00;
  color: #ffffff;
}
.btn-warn:hover,
a.btn-warn:hover,
span.btn-warn:hover {
  background: #ff8530;
  border-color: #ff8530;
  color: #ffffff;
}
.btn-warn:active,
a.btn-warn:active,
span.btn-warn:active {
  background: #ff8530;
  border-color: #ff8530;
  color: #ffffff;
}
.btn-text,
a.btn-text,
span.btn-text {
  background: transparent;
  border-color: transparent;
  color: #666666;
}
.btn-text:hover,
a.btn-text:hover,
span.btn-text:hover {
  background: transparent;
  border-color: transparent;
  color: #999999;
}
.btn-text:active,
a.btn-text:active,
span.btn-text:active {
  background: transparent;
  border-color: transparent;
  color: #999999;
}
.btn-text.btn.disabled,
.btn-text.btn[disabled],
.btn-text.btn.disabled:hover,
.btn-text.btn[disabled]:hover,
.btn-text.btn.disabled:focus,
.btn-text.btn[disabled]:focus,
.btn-text.btn.disabled:active,
.btn-text.btn[disabled]:active {
  background: transparent !important;
  border: transparent !important;
  color: #999999 !important;
}
/* button height */
.btn.xs {
  /* extra small */
  height: 22px;
  padding: 0 15px;
}
a.btn.xs,
span.btn.xs {
  line-height: 20px;
}
.btn.sm {
  /* small */
  height: 24px;
  padding: 0 15px;
}
a.btn.sm,
span.btn.sm {
  line-height: 22px;
}
.btn.lg {
  /* large */
  height: 40px;
  padding: 0 30px;
  font-size: 18px;
}
a.btn.lg,
span.btn.lg {
  line-height: 38px;
}
.btn.xl {
  /* extra large */
  height: 48px;
  padding: 0 40px;
  font-size: 16px;
}
a.btn.xl,
span.btn.xl {
  line-height: 46px;
}
/* button width */
.btn.w-xs {
  width: 60px;
  padding: 0 !important;
}
.btn.w-sm {
  width: 100px;
  padding: 0 !important;
}
.btn.w-lg {
  width: 150px;
  padding: 0 !important;
}
.btn.w-xl {
  width: 190px;
  padding: 0 !important;
}
.btn.w-full {
  width: 100%;
  padding: 0 !important;
}
/* button padding */
.btn.p-xs {
  padding: 0 5px;
}
.btn.p-sm {
  padding: 0 10px;
}
.btn.p-lg {
  padding: 0 30px;
}
.btn.p-xl {
  padding: 0 80px;
}
.txt[disabled],
select[disabled],
.select[disabled],
textarea[disabled],
.txt[disabled]:hover,
select[disabled]:hover,
.select[disabled]:hover,
textarea[disabled]:hover,
.txt[disabled]:focus,
select[disabled]:focus,
.select[disabled]:focus,
textarea[disabled]:focus,
.txt[disabled]:active,
select[disabled]:active,
.select[disabled]:active,
textarea[disabled]:active {
  background: #f8f8f8 !important;
  border-color: #d9d9d9 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: default !important;
  cursor: not-allowed !important;
}
/* input text */
.txt {
  width: 100px;
  height: 26px;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #cccccc;
  border-color: #cccccc;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.txt[readonly="readonly"],
.txt[readonly="readonly"]:hover,
.txt[readonly="readonly"]:focus {
  border-color: #cccccc !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.txt:hover {
  border-color: #a5a5a5;
  -webkit-box-shadow: 0 0 5px #d8d8d8;
  box-shadow: 0 0 5px #d8d8d8;
}
.txt:focus {
  border-color: #35b558;
  -webkit-box-shadow: 0 0 5px #51cc73;
  box-shadow: 0 0 5px #51cc73;
}
/* text radius */
.txt.txt-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* text height */
.txt.xs {
  height: 22px;
  padding: 3px 3px;
  line-height: 16px;
}
.txt.sm {
  height: 24px;
  padding: 4px 4px;
  line-height: 16px;
}
.txt.lg {
  height: 32px;
  padding: 8px 8px;
  line-height: 16px;
}
.txt.xl {
  height: 48px;
  padding: 15px 15px;
  font-size: 14px;
  line-height: 18px;
}
/* text width */
.txt.w-xs {
  width: 60px;
}
.txt.w-sm {
  width: 80px;
}
.txt.w-lg {
  width: 240px;
}
.txt.w-xl {
  width: 300px;
}
.txt.w-full {
  width: 100%;
}
/* tel text */
.txt-tel {
  display: inline-block;
  vertical-align: middle;
}
.txt-tel .tel-area {
  width: 60px;
  margin: 0 5px 0 0 !important;
}
.txt-tel .tel-num {
  width: 120px;
  margin: 0 5px !important;
}
.txt-tel .tel-ext {
  width: 60px;
  margin: 0 0 0 5px !important;
}
.txt-tel i {
  color: #cccccc;
  display: inline-block;
  font-family: simsun, \5b8b\4f53, arial;
  line-height: 26px;
  vertical-align: middle;
}
/* tel height*/
.tel-xs .txt {
  height: 22px;
  padding: 3px 3px;
  line-height: 16px;
}
.tel-xs i {
  line-height: 22px;
}
.tel-sm .txt {
  height: 24px;
  padding: 4px 4px;
  line-height: 16px;
}
.tel-sm i {
  line-height: 24px;
}
.tel-lg .txt {
  height: 32px;
  padding: 8px 8px;
  line-height: 16px;
}
.tel-lg i {
  line-height: 32px;
}
.tel-xl .txt {
  height: 48px;
  padding: 15px 15px;
  line-height: 18px;
}
.tel-xl i {
  line-height: 48px;
}
/* txt section */
.txt-section {
  display: inline-block;
  vertical-align: middle;
}
.txt-section .txt {
  margin: 0 8px !important;
}
.txt-section .txt:first-child {
  margin-left: 0 !important;
}
.txt-section .txt:last-child {
  margin-right: 0 !important;
}
.txt-section i {
  color: #666666;
  display: inline-block;
  font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", 'Microsoft YaHei', Helvetica, arial, simsun, sans-serif;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
}
.txt-section.txt-dash i {
  color: #cccccc;
  font-family: simsun;
}
/* file */
.file-ctrl {
  display: inline-block;
  vertical-align: middle;
}
.file-ctrl input {
  float: left;
}
.file-ctrl .txt {
  width: 180px;
}
.file-ctrl .btn {
  width: 60px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.file-ctrl input[type="file"] {
  clear: both;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
}
/* select */
select,
.select {
  width: 120px;
  height: 26px;
  font-size: 12px;
  border: 1px solid #cccccc;
  border-color: #cccccc;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background: #fff;
  outline: 0;
}
select:hover,
.select:hover {
  border-color: #a5a5a5;
  -webkit-box-shadow: 0 0 5px #d8d8d8;
  box-shadow: 0 0 5px #d8d8d8;
}
select:focus,
.select:focus {
  border-color: #35b558;
  -webkit-box-shadow: 0 0 5px #51cc73;
  box-shadow: 0 0 5px #51cc73;
}
/* select height */
.select.xs {
  height: 22px;
}
.select.sm {
  height: 24px;
}
.select.lg {
  height: 32px;
  padding: 2px;
}
.select.xl {
  height: 48px;
  padding: 3px;
  font-size: 14px;
}
/* select width */
.select.w-xs {
  width: 80px;
}
.select.w-sm {
  width: 100px;
}
.select.w-lg {
  width: 140px;
}
.select.w-xl {
  width: 180px;
}
/* textarea */
textarea {
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #cccccc;
  border-color: #cccccc;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background: #fff;
  outline: 0;
  vertical-align: top;
  resize: vertical;
}
textarea:hover {
  border-color: #a5a5a5;
  -webkit-box-shadow: 0 0 5px #d8d8d8;
  box-shadow: 0 0 5px #d8d8d8;
}
textarea:focus {
  border-color: #35b558;
  -webkit-box-shadow: 0 0 5px #51cc73;
  box-shadow: 0 0 5px #51cc73;
}
textarea.resize-none {
  resize: none;
}
textarea.resize-h {
  resize: horizontal;
}
textarea.resize-both {
  resize: both;
}
/* arrow */
.arrow {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0 !important;
  background-image: none;
  font-size: 0 !important;
  line-height: 0 !important;
  vertical-align: middle;
}
.arrow[class*="-solid"],
.arrow > *,
.arrow[class*="-hollow"]:empty:before,
.arrow[class*="-hollow"]:empty:after {
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
}
/* arrow direction */
.arrow[class*="top-"],
.arrow[class*="top-"] > *,
.arrow[class*="top-"]:before,
.arrow[class*="top-"]:after {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  border-top-width: 0 !important;
}
.arrow[class*="right-"],
.arrow[class*="right-"] > *,
.arrow[class*="right-"]:before,
.arrow[class*="right-"]:after {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-right-width: 0 !important;
}
.arrow[class*="bottom-"],
.arrow[class*="bottom-"] > *,
.arrow[class*="bottom-"]:before,
.arrow[class*="bottom-"]:after {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-width: 0 !important;
}
.arrow[class*="left-"],
.arrow[class*="left-"] > *,
.arrow[class*="left-"]:before,
.arrow[class*="left-"]:after {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-left-width: 0 !important;
}
/* arrow theme */
.arrow[class*="-solid"] {
  border-style: solid;
  border-width: 10px;
  border-color: #666666;
}
.arrow[class*="-hollow"] > *,
.arrow[class*="-hollow"]:empty:before,
.arrow[class*="-hollow"]:empty:after {
  border-style: solid;
  border-width: 10px;
  border-color: #666666;
  display: block;
}
.arrow[class*="-hollow"]:empty:before,
.arrow[class*="-hollow"]:empty:after {
  content: " ";
}
.arrow[class*="-hollow"] > small,
.arrow[class*="-hollow"]:empty:after {
  position: absolute;
  border-width: 9px;
  border-color: #dfeae2;
}
.arrow.top-hollow:empty:after,
.arrow.left-hollow:empty:after,
.arrow.top-hollow small,
.arrow.left-hollow small {
  top: 1px;
  left: 1px;
}
.arrow.right-hollow:empty:after,
.arrow.bottom-hollow:empty:after,
.arrow.right-hollow small,
.arrow.bottom-hollow small {
  right: 1px;
  bottom: 1px;
}
/* arrow color */
.arrow.white,
.arrow.white:empty:before,
.arrow.white > big {
  border-color: #ffffff;
}
.arrow.muted,
.arrow.muted:empty:before,
.arrow.muted > big {
  border-color: #9f9f9f;
}
.arrow.danger,
.arrow.danger:empty:before,
.arrow.danger > big {
  border-color: #f86363;
}
/* arrow size */
.arrow.xs,
.arrow.xs > *,
.arrow.xs:empty:before {
  border-width: 5px;
}
.arrow.xs > small,
.arrow.xs:empty:after {
  border-width: 4px;
}
.arrow.sm,
.arrow.sm > *,
.arrow.sm:empty:before {
  border-width: 8px;
}
.arrow.sm > small,
.arrow.sm:empty:after {
  border-width: 7px;
}
.arrow.lg,
.arrow.lg > *,
.arrow.lg:empty:before {
  border-width: 12px;
}
.arrow.lg > small,
.arrow.lg:empty:after {
  border-width: 11px;
}
.arrow.xl,
.arrow.xl > *,
.arrow.xl:empty:before {
  border-width: 14px;
}
.arrow.xl > small,
.arrow.xl:empty:after {
  border-width: 13px;
}
/* icon */
.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}
/* font icon */
.f-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* 18x18 */
.i-right-sm,
.i-close-sm,
.i-off-sm,
.i-del,
.i-edit-sm,
.i-chart,
.i-file {
  width: 18px;
  height: 18px;
}
.i-right-sm {
  background-position: -108px -62px;
}
.i-close-sm {
  background-position: -126px -62px;
}
.i-off-sm {
  background-position: -144px -62px;
}
.i-del {
  background-position: 0 -62px;
}
.i-del.hover {
  background-position: -18px -62px;
}
.i-edit-sm {
  background-position: -36px -62px;
}
.i-edit-sm.hover {
  background-position: -54px -62px;
}
.i-chart {
  background-position: -72px -62px;
}
.i-chart.hover {
  background-position: -90px -62px;
}
.i-file {
  background-position: -162px -62px;
}
/* 28x28 */
.webuploader-pick {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  background-position: 0 0;
}
/* 34x34 */
.i-eye,
.i-edit {
  width: 34px;
  height: 34px;
}
.i-eye {
  background-position: 0 -28px;
}
.i-edit {
  background-position: -34px -28px;
}
.tab > .tabs ul:after {
  display: table;
  clear: both;
  content: " ";
}
.tab > .tabs li {
  float: left;
  cursor: pointer;
}
.tab > .tabbed > .tab-group {
  display: none;
}
/* form */
.form .legend {
  display: block;
  width: 100%;
}
.form .form-group:after,
.form .form-item:after {
  display: table;
  clear: both;
  content: " ";
}
.form .form-item {
  margin: 20px 0;
}
.form .form-item:first-child {
  margin-top: 0;
}
.form .item-label {
  float: left;
  width: 110px;
  color: #333333;
  line-height: 32px;
  text-align: right;
}
.form .item-label em {
  margin: 0 5px;
  color: #ff0000;
  font-family: simsun;
}
.form .item-label label {
  cursor: default;
}
.form .item-cont {
  margin-left: 120px;
  line-height: 32px;
}
.form .item-cont:after {
  display: table;
  clear: both;
  content: " ";
}
.form .item-cont > label {
  margin-right: 20px;
}
.form .item-cont > .txt,
.form .item-cont > .btn,
.form .item-cont > .txt-tel,
.form .item-cont > .txt-section,
.form .item-cont > .select,
.form .item-cont > select {
  margin-right: 10px;
}
.form .item-cont > .radio,
.form .item-cont > .chk {
  margin-right: 5px;
}
/* form-inline */
.form.form-inline .form-item {
  display: inline-block;
  margin: 0 10px 15px 0;
  vertical-align: top;
}
/* form-lable-auto */
.form.form-lable-auto .item-label {
  float: left;
  margin-right: 10px;
  width: auto;
}
.form.form-lable-auto .item-cont {
  float: left;
  margin-left: 0;
}
.form-qiye .w-full {
  width: 600px;
}
.form-qiye fieldset {
  float: left;
}
.form-qiye fieldset.qyLogo {
  float: right;
}
.form-qiye .item-label {
  font-size: 14px;
}
.form-qiye .item-cont {
  position: relative;
}
.form-qiye .note {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  line-height: 20px;
  white-space: nowrap;
}
.form-qiye .form-group .form-item {
  float: left;
  margin: 0;
}
.form-qiye .form-group .form-item:first-child {
  margin-right: 30px;
}
.form-qiye .btn-submit {
  clear: both;
  float: none;
  text-align: right;
}
.form-createJob .form-group {
  float: left;
}
.form-createJob .form-group:first-child {
  width: 420px;
}
.form-createJob .item-label {
  width: 74px;
  font-size: 14px;
}
.form-createJob .item-cont {
  position: relative;
  margin-left: 84px;
}
.form-createJob .note {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  line-height: 20px;
  white-space: nowrap;
}
.form-createJob .txt {
  width: 270px;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid #e4e4e4;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 14px;
  border: 1px solid #e4e4e4;
  border-width: 1px 1px 0 1px;
  line-height: 20px;
  vertical-align: middle;
}
.table > thead > tr > th {
  background-color: #f5f5f5;
  border-top: 0;
}
table th,
table td {
  background: #fff;
  text-align: center;
}
/* table theme */
.table-line > thead > tr > th,
.table-line > tbody > tr > th,
.table-line > tfoot > tr > th,
.table-line > thead > tr > td,
.table-line > tbody > tr > td,
.table-line > tfoot > tr > td {
  border-width: 1px 0 0 0;
}
/* noborder */
.noborder {
  border: 0 !important;
}
/* interleave */
.interleave-odd > tr:nth-child(odd) > th,
.interleave-odd > tr:nth-child(odd) > td {
  background-color: #f5f5f5;
}
.interleave-even > tr:nth-child(even) > th,
.interleave-even > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
/* hover */
table > .hover > tr:hover > th,
table > .hover > tr:hover > td {
  background-color: #f5f5f5;
}
/* align */
table.table-left > thead > tr > th,
table.table-left > thead > tr > td,
table.table-left > tbody > tr > th,
table.table-left > tbody > tr > td,
table.table-left > tfoot > tr > th,
table.table-left > tfoot > tr > td,
table > thead > .table-left > th,
table > thead > .table-left > td,
table > tbody > .table-left > th,
table > tbody > .table-left > td,
table > tfoot > .table-left > th,
table > tfoot > .table-left > td,
table > thead > tr > .table-left,
table > tbody > tr > .table-left,
table > tfoot > tr > .table-left {
  text-align: left;
}
table.table-right > thead > tr > th,
table.table-right > thead > tr > td,
table.table-right > tbody > tr > th,
table.table-right > tbody > tr > td,
table.table-right > tfoot > tr > th,
table.table-right > tfoot > tr > td,
table > thead > .table-right > th,
table > thead > .table-right > td,
table > tbody > .table-right > th,
table > tbody > .table-right > td,
table > tfoot > .table-right > th,
table > tfoot > .table-right > td,
table > thead > tr > .table-right,
table > tbody > tr > .table-right,
table > tfoot > tr > .table-right {
  text-align: right;
}
table.table-center > thead > tr > th,
table.table-center > thead > tr > td,
table.table-center > tbody > tr > th,
table.table-center > tbody > tr > td,
table.table-center > tfoot > tr > th,
table.table-center > tfoot > tr > td {
  text-align: center;
}
/* table status */
.table > thead > .danger > th,
.table > tbody > .danger > th,
.table > tfoot > .danger > th,
.table > thead > .danger > td,
.table > tbody > .danger > td,
.table > tfoot > .danger > td {
  background-color: #f2dede !important;
}
.table-statistic {
  color: #666;
  font-size: 14px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.table-statistic .viewlink {
  color: #666;
  font-size: 12px;
}
.table-statistic .viewlink .icon {
  position: relative;
  top: -1px;
}
.table-statistic .viewlink:hover {
  color: #35B558;
}
.table-statistic .viewlink:hover .icon {
  background-position: -180px -62px;
}
.table-statistic .bg-odd td {
  background-color: #F9F9F9;
}
.table-statistic > thead > tr > th {
  background-color: #eee;
  color: #000;
  font-weight: normal;
}
.table-statistic .t-scorelist {
  padding: 0;
}
.table-statistic .t-scorelist table {
  width: 100%;
}
.table-statistic .t-scorelist th,
.table-statistic .t-scorelist td {
  padding: 6px;
}
.table-statistic .t-scorelist thead th {
  background-color: #eee;
  border: 1px solid #e4e4e4;
  border-width: 1px 0;
  color: #666;
  font-weight: normal;
}
.table-statistic .t-score {
  position: relative;
  padding: 0 80px 0 108px;
}
.table-statistic .t-view {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}
.table-statistic .t-view .arrow {
  margin-right: 2px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.popup:after {
  display: table;
  clear: both;
  content: " ";
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: url(../img/ui/popup_def_close.png) no-repeat center center / 14px 14px;
}
.popup > .wrap {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background: #fff;
}
.popup .hd {
  height: 40px;
  padding: 0 30px 0 8px;
  background: #f3f3f3;
  line-height: 40px;
  cursor: default ;
}
.popup .hd h2 {
  color: #666;
  font-size: 16px;
  font-weight: normal;
}
.popup .btn-wrap {
  padding: 10px 0;
  text-align: center;
}
.popup.popup-primary .hd {
  background: #f3f3f3;
}
.popup.popup-info .hd {
  background: none;
}
/* slide */
.slide {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
}
.slide > .items {
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
}
.slide > .items ul {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}
.slide > .items ul li {
  float: left;
}
.slide > .prev,
.slide > .next {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 40;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  cursor: pointer;
}
.slide > .prev .arrow,
.slide > .next .arrow {
  display: inline-block;
}
.slide > .prev.disabled,
.slide > .next.disabled,
.slide > .prev.disabled .arrow,
.slide > .next.disabled .arrow,
.slide > .prev.disabled:hover .arrow,
.slide > .next.disabled:hover .arrow {
  background-color: #eee;
  background-image: none;
  cursor: default;
  cursor: not-allowed;
  opacity: .7;
}
.slide > .next {
  left: auto;
  right: 0;
}
.slide.pageTurn-hide > .prev,
.slide.pageTurn-hide > .next {
  opacity: 0;
}
.slide.pageTurn-hide:hover > .prev,
.slide.pageTurn-hide:hover > .next {
  opacity: 1;
}
/* theme def */
.slide-def .prev,
.slide-def .next {
  width: 40px;
  height: 50px;
  margin: -25px 0 0;
  background: rgba(0, 0, 0, 0.4);
}
.slide-def .prev .arrow,
.slide-def .next .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  background: transparent !important;
  border: 4px solid #ffffff;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-left-width: 0;
  border-bottom-width: 0;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.slide-def .prev:hover,
.slide-def .next:hover {
  background: rgba(0, 0, 0, 0.6);
}
.slide-def .next .arrow {
  left: auto;
  right: 50%;
  margin: -14px -7px 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tooltip {
  position: absolute;
  z-index: 500;
}
.tooltip .wrap {
  padding: 8px;
  background: #fff;
  border: 1px solid #d2d2d2;
}
.tooltip .hd {
  margin-bottom: 8px;
  padding: 0 5px 8px;
  border-bottom: 1px solid #d2d2d2;
}
.tooltip .arrow {
  position: absolute;
}
.tooltip[class*="guide-T"] .arrow {
  margin-top: -7px;
  margin-left: -8px;
}
.tooltip[class*="guide-T"] .arrow > *,
.tooltip[class*="guide-T"] .arrow:empty:before,
.tooltip[class*="guide-T"] .arrow:empty:after {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  border-top-width: 0 !important;
  border-width: 8px;
  border-color: #d2d2d2;
}
.tooltip[class*="guide-T"] .arrow > small,
.tooltip[class*="guide-T"] .arrow:empty:after {
  position: absolute;
  border-width: 7px;
  border-color: #ffffff;
  top: 1px;
  left: 1px;
}
.tooltip[class*="guide-R"] .arrow {
  right: 0;
  margin-top: -8px;
  margin-right: -7px;
}
.tooltip[class*="guide-R"] .arrow > *,
.tooltip[class*="guide-R"] .arrow:empty:before,
.tooltip[class*="guide-R"] .arrow:empty:after {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-right-width: 0 !important;
  border-width: 8px;
  border-color: #d2d2d2;
}
.tooltip[class*="guide-R"] .arrow > small,
.tooltip[class*="guide-R"] .arrow:empty:after {
  position: absolute;
  border-width: 7px;
  border-color: #ffffff;
  right: 1px;
  bottom: 1px;
}
.tooltip[class*="guide-B"] .arrow {
  bottom: 0;
  margin-bottom: -7px;
  margin-left: -8px;
}
.tooltip[class*="guide-B"] .arrow > *,
.tooltip[class*="guide-B"] .arrow:empty:before,
.tooltip[class*="guide-B"] .arrow:empty:after {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-width: 0 !important;
  border-width: 8px;
  border-color: #d2d2d2;
}
.tooltip[class*="guide-B"] .arrow > small,
.tooltip[class*="guide-B"] .arrow:empty:after {
  position: absolute;
  border-width: 7px;
  border-color: #ffffff;
  right: 1px;
  bottom: 1px;
}
.tooltip[class*="guide-L"] .arrow {
  left: 0;
  margin-top: -8px;
  margin-left: -7px;
}
.tooltip[class*="guide-L"] .arrow > *,
.tooltip[class*="guide-L"] .arrow:empty:before,
.tooltip[class*="guide-L"] .arrow:empty:after {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-left-width: 0 !important;
  border-width: 8px;
  border-color: #d2d2d2;
}
.tooltip[class*="guide-L"] .arrow > small,
.tooltip[class*="guide-L"] .arrow:empty:after {
  position: absolute;
  border-width: 7px;
  border-color: #ffffff;
  top: 1px;
  left: 1px;
}
.tooltip.guide-TL .arrow,
.tooltip.guide-BL .arrow {
  /* top left & bottom left */
  left: 20%;
}
.tooltip.guide-TC .arrow,
.tooltip.guide-BC .arrow {
  /* top center & bottom center */
  left: 50%;
}
.tooltip.guide-TR .arrow,
.tooltip.guide-BR .arrow {
  /* top right & bottom right */
  left: 80%;
}
.tooltip.guide-RT .arrow,
.tooltip.guide-LT .arrow {
  /* right top & left top */
  top: 25%;
}
.tooltip.guide-RM .arrow,
.tooltip.guide-LM .arrow {
  /* right middle & left middle */
  top: 50%;
}
.tooltip.guide-RB .arrow,
.tooltip.guide-LB .arrow {
  /* right bottom & left bottom */
  top: 75%;
}
#header > .wrap {
  height: 66px;
}
#logo {
  float: left;
  margin-top: 12px;
}
#logo a {
  display: block;
  float: left;
  margin-right: 14px;
  height: 42px;
  line-height: 42px;
}
#logo h1 {
  float: left;
  margin-top: 9px;
  color: #999;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  cursor: default;
}
#userNav {
  float: right;
  margin-top: 27px;
}
#userNav li {
  float: left;
  padding: 0 6px;
  border-left: 1px solid #7a7a7a;
  color: #333;
  font-size: 12px;
  line-height: 12px;
}
#userNav li:first-child {
  border-left: 0;
}
#userNav a {
  color: #333;
}
#userNav a:hover {
  text-decoration: underline;
}
#userNav .userName {
  color: #35B558;
}
#loading {
  width: 100%;
  height: 2px;
  background: #35B558;
}
.mod-job {
  height: 60px;
  padding: 0 12px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-left: 2px solid #6ec786;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.mod-job:after {
  display: table;
  clear: both;
  content: " ";
}
.mod-job .job-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  max-width: 500px;
  color: #333;
  font-size: 20px;
  line-height: 60px;
}
.mod-job .job-operate {
  float: right;
  margin-top: 10px;
}
.mod-job .job-operate .icon {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 auto 2px;
}
.mod-job .job-toolbar {
  float: left;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #d8d8d8;
}
.mod-job .job-toolbar a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 6px;
  padding: 3px 0;
  color: #666;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
}
.mod-job .job-toolbar a:hover {
  color: #ff5c00;
}
.mod-job .job-toolbar .switch {
  color: #35B558;
}
.mod-job .job-toolbar .switch .icon {
  width: 18px;
  height: 18px;
  background-position: -108px -62px;
}
.mod-job .job-toolbar .switch:hover {
  color: #FF5C00;
}
.mod-job .job-toolbar .switch:hover .icon {
  width: 18px;
  height: 18px;
  background-position: -126px -62px;
}
.mod-job .job-toolbar .switch.off {
  color: #FF5C00;
}
.mod-job .job-toolbar .switch.off .icon {
  width: 18px;
  height: 18px;
  background-position: -144px -62px;
}
.mod-job .job-toolbar .switch.off:hover {
  color: #35B558;
}
.mod-job .job-toolbar .switch.off:hover .icon {
  width: 18px;
  height: 18px;
  background-position: -108px -62px;
}
.mod-job .statistic {
  float: left;
  height: 40px;
  margin: 0 6px;
  padding: 0 10px;
  text-align: center;
  line-height: 14px;
}
.mod-job .statistic strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 92px;
  margin-bottom: 2px;
  color: #35b558;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  vertical-align: bottom;
}
.mod-job .result {
  float: left;
  display: block;
  height: 40px;
  margin: 0 6px;
  color: #666;
  text-align: center;
  line-height: 16px;
}
.mod-job .result:hover {
  color: #2d85ca;
}
.mod-job .job-company,
.mod-job .job-location,
.mod-job .job-company p,
.mod-job .job-location p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mod-job .job-company {
  width: 176px;
}
.mod-job .job-location {
  width: 120px;
}
.mod-job .job-test li {
  float: left;
  height: 40px;
  padding: 0 30px;
  border-right: 1px solid #d8d8d8;
  font-size: 14px;
  text-align: center;
}
.mod-job .job-test li:last-child {
  padding-right: 0;
  border-right: 0 none;
  line-height: 40px;
}
.mod-job .job-test li:last-child .btn {
  width: 110px;
  padding: 0;
  vertical-align: baseline;
}
.mod-job .job-test p {
  margin-top: 5px;
  color: #999;
  font-size: 12px;
}
.mod-job .job-test p em {
  color: #35B558;
}
.mod-job .job-test strong {
  color: #35B558;
  font-size: 20px;
  font-weight: normal;
  line-height: 40px;
}
.paging-wrap {
  padding: 14px 0;
}
.paging {
  float: right;
  line-height: 22px;
  text-align: center;
}
.paging a {
  display: block;
  color: #333;
}
.paging > ol {
  float: left;
}
.paging > ol li {
  float: left;
  min-width: 24px;
  height: 24px;
  margin: 0 2px;
  padding: 2px;
  background: #fff;
  border: 1px solid #ddd;
  line-height: 18px;
  cursor: default;
}
.paging > ol li:hover {
  border-color: #35b558;
}
.paging > ol li.active {
  background: #35B558;
  border-color: #35B558;
  color: #fff;
}
.paging > ol li.active a {
  color: #fff;
}
.paging .pageup,
.paging .pagedown {
  float: left;
  width: 66px;
  height: 24px;
  margin: 0 2px;
  background: #fff;
  border: 1px solid #ddd;
  line-height: 22px;
}
.paging .pageup:hover,
.paging .pagedown:hover {
  border-color: #35b558;
}
.paging .pageup.disabled,
.paging .pagedown.disabled,
.paging .pageup.disabled:hover,
.paging .pagedown.disabled:hover,
.paging .pageup.disabled a,
.paging .pagedown.disabled a,
.paging .pageup.disabled:hover a,
.paging .pagedown.disabled:hover a {
  border-color: #e4e4e4;
  color: #999;
}
.mod-scale-chart {
  overflow: hidden;
  width: 100%;
}
.mod-scale-chart li {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  height: 50px;
  border-right: 2px solid #fff;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}
.mod-scale-chart li:last-child {
  border-right: 0 none;
}
.mod-scale-chart .bar {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}
.mod-scale-chart .score {
  margin-top: 2px;
}
.mod-sortctrl {
  display: inline-block;
  width: 16px;
  vertical-align: middle;
  line-height: 5px;
}
.mod-sortctrl .arrow {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-width: 5px;
  border-color: #9f9f9f;
}
.mod-sortctrl .arrow.top-solid {
  margin-bottom: 2px;
}
.mod-sortctrl.sortup .top-solid,
.mod-sortctrl.sortdown .bottom-solid {
  border-color: #35B558;
}
.icon,
.webuploader-pick {
  background-image: url(../img/ui/element.png);
  -webkit-background-size: 250px 200px;
  background-size: 250px 200px;
}
.trs-3s {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.clearfix:after,
.form-createJob:after,
#userNav ul:after,
.mod-job .job-test:after,
.paging-wrap:after,
.mod-scale-chart ul:after,
.wrap:after,
.filtersort ul:after {
  display: table;
  clear: both;
  content: " ";
}
.wrap {
  margin-right: auto;
  margin-left: auto;
}
#wrapper {
  width: 100%;
  min-width: 1000px;
}
#header,
#container,
#footer {
  min-width: 1000px;
}
#header > .wrap,
#container > .wrap,
#footer > .wrap {
  width: 1000px;
}
#container {
  padding: 36px 0 40px;
  background: #f3f3f3;
}
.caption {
  margin-bottom: 20px;
  color: #666;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2;
}
.qy-logo {
  position: relative;
  width: 196px;
  height: 196px;
  background: #fff;
  border: 3px solid #35B558;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.qy-logo img {
  width: 100%;
  height: 100%;
}
.qy-logo .webuploader-container {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 28px;
  height: 28px;
}
.qy-logo .webuploader-container label {
  position: absolute;
  top: 0;
}
.qy-logo input {
  clear: both;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
}
.qy-logo .note {
  padding-top: 5px;
}
.dataNull {
  text-align: center;
  font-size: 14px;
  line-height: 34px;
}
.dataNull .icon {
  margin-right: 15px;
}
#checking #container {
  min-height: 490px;
  padding-top: 92px;
}
.filtersort {
  padding: 10px 0;
  font-size: 14px;
}
.filtersort dl {
  height: 36px;
  margin-bottom: 20px;
}
.filtersort dt {
  float: left;
  width: 78px;
  border-right: 1px solid #cdcdcd;
  color: #333;
  font-size: 16px;
  line-height: 36px;
}
.filtersort dd {
  overflow: hidden;
  margin-left: 88px;
  padding: 4px 0;
}
.filtersort ul {
  margin-left: -1px;
}
.filtersort li {
  float: left;
  margin: 5px 0;
  padding: 0 12px;
  border-left: 1px solid #b2b2b2;
  line-height: 18px;
}
.filtersort li a {
  display: inline-block;
  padding: 0 10px;
  color: #b2b2b2;
}
.filtersort li a:hover {
  color: #35B558;
}
.filtersort li.active a {
  color: #35B558;
}
