@charset "utf-8";
.clearfix:after,
.power-require > header:after,
.mod-power:after,
.other-require > header:after {
  display: table;
  clear: both;
  content: " ";
}
hr {
  margin: 40px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e8e8e8 transparent #dad8d8 transparent;
}
.simditor {
  width: 495px;
}
.simditor .simditor-body {
  overflow-y: auto;
  min-height: 185px;
  max-height: 300px;
  font-size: 14px;
  line-height: 1.2;
}
.simditor .simditor-body p {
  margin-bottom: 5px;
}
.simditor .simditor-wrapper .simditor-placeholder {
  font-size: 14px;
}
.power-require {
  margin-bottom: 30px;
  position: relative;
}
.power-require > header,
.other-require > header {
  margin-bottom: 30px;
}
.power-require > header .caption,
.other-require > header .caption {
  float: left;
  margin-bottom: 0;
}
.pr-note {
  float: right;
  margin-top: 10px;
}
.pr-note li {
  float: left;
  margin-right: 20px;
}
.pr-note li:last-child {
  margin-right: 0;
}
.pr-list .mod-power {
  margin-bottom: 20px;
}
.or-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-left: 3px solid #35B558;
  line-height: 30px;
  color: #333;
  font-size: 16px;
}
.or-list li .addScore {
  margin-right: 20px;
  color: #35B558;
  font-weight: normal;
}
.mod-power {
  padding: 25px 0;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.mod-power .power-control,
.mod-power .power-chart {
  height: 220px;
  padding: 0 20px;
}
.mod-power .power-control {
  float: left;
  width: 272px;
  border-right: 1px solid #e4e4e4;
}
.mod-power .power-control h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  color: #d32024;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
}
.mod-power .power-control h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 40px;
  color: #333;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
.mod-power .power-import {
  margin-bottom: 65px;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mod-power .power-import .mod-range {
  margin: 0 4px;
}
.mod-power .power-ctrl-btns {
  float: right;
}
.mod-power .power-ctrl-btns .btn {
  float: left;
  height: 30px;
  margin-left: 8px;
  padding: 0 14px;
}
.mod-power .power-chart {
  margin-left: 273px;
}
.mod-power .power-chart > h4 {
  margin-bottom: 14px;
  color: #333;
  font-size: 14px;
  font-weight: normal;
}
.mod-power .mod-power-chart {
  margin-bottom: 46px;
}
.mod-power .power-import-note {
  position: relative;
  padding-right: 130px;
  height: 100px;
}
.mod-power .power-import-note li {
  margin-bottom: 23px;
}
.mod-power .power-import-note li:last-child {
  margin-bottom: 0;
}
.mod-power .power-import-note li > strong {
  display: block;
  margin-left: 178px;
  color: #333;
  font-weight: normal;
}
.mod-power .power-import-note .require-import {
  float: left;
  color: #999;
}
.mod-power .power-import-note .btn-edit {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 120px;
}
.addprofessional {
  background: #fff;
  overflow: hidden;
  z-index: 920;
  width: 948px;
  border: 1px solid #cccccc;
}
.addprofessional header {
  border-bottom: 2px solid #e1e1e1;
  overflow: hidden;
  line-height: 56px;
}
.addprofessional header h2 {
  float: left;
  width: 400px;
  padding-left: 10px ;
  font: 16px/56px "微软雅黑";
  border-bottom: 1px solid #f3f3f3;
}
.addprofessional header .close {
  float: right;
  margin-right: 10px;
  padding-right: 25px;
  height: 56px;
  width: 18px;
  background: url("../img/ui/close.jpg") no-repeat left 19px;
}
.addprofessional header .close:hover {
  cursor: pointer;
}
.addprofessional .content {
  padding: 0 22px 15px 19px;
  max-height: 500px;
  overflow-y: auto;
}
.addprofessional .content .system-professional {
  overflow: hidden;
}
.addprofessional .content .system-professional h3 {
  height: 50px;
  font: 14px/50px "微软雅黑";
}
.addprofessional .content .my-professional {
  overflow: hidden;
}
.addprofessional .content .my-professional h3 {
  height: 42px;
  font: 14px/42px "微软雅黑";
}
.addprofessional .content .adduser-defined h3 {
  height: 36px;
  font: 14px/36px "微软雅黑";
}
.addprofessional .content .adduser-defined .btn-reverse {
  margin: 5px 0 6px 0;
}
.addprofessional .content .probtn {
  display: block;
  float: left;
  margin-bottom: 19px;
  margin-right: 10px;
  background-color: #eaf7ee;
  height: 40px;
  font: 18px/40px "微软雅黑";
  padding: 0 40px;
  color: #35b558;
  border-radius: 3px;
  border: 1px solid #35b558;
}
.addprofessional .content .probtn.active {
  background: #35b558;
  color: #fff;
}
.editmajor,
.myprofessional {
  background: #fff;
  z-index: 910;
  width: 965px;
  border: 1px solid #cccccc;
}
.editmajor > header,
.myprofessional > header {
  border-bottom: 2px solid #e1e1e1;
  overflow: hidden;
  height: 56px;
  line-height: 56px;
}
.editmajor > header h2,
.myprofessional > header h2 {
  float: left;
  width: 400px;
  padding-left: 10px ;
  font: 16px/56px "微软雅黑";
  border-bottom: 1px solid #f3f3f3;
}
.editmajor > header .close,
.myprofessional > header .close {
  float: right;
  margin-right: 10px;
  padding-right: 25px;
  height: 56px;
  width: 18px;
  background: url("../img/ui/close.jpg") no-repeat left 19px;
}
.editmajor > header .close:hover,
.myprofessional > header .close:hover {
  cursor: pointer;
}
.editmajor .content,
.myprofessional .content {
  max-height: 400px;
  overflow-y: auto;
  padding: 0 19px;
}
.editmajor .content .head,
.myprofessional .content .head {
  overflow: hidden;
  margin-top: 20px;
}
.editmajor .content .head h2,
.myprofessional .content .head h2 {
  float: left;
  width: 209px;
  height: 23px ;
  font: 23px/23px "微软雅黑";
  color: red;
}
.editmajor .content .head ul,
.myprofessional .content .head ul {
  float: left;
  height: 23px;
  padding-left: 132px ;
  overflow: hidden;
}
.editmajor .content .head li,
.myprofessional .content .head li {
  padding-left: 48px;
  float: left;
  height: 23px;
  font: 12px/23px "宋体";
}
.editmajor .content .head li:nth-of-type(1),
.myprofessional .content .head li:nth-of-type(1) {
  background: url("../img/ui/1.jpg") no-repeat 20px 3px;
}
.editmajor .content .head li:nth-of-type(2),
.myprofessional .content .head li:nth-of-type(2) {
  background: url("../img/ui/2.jpg") no-repeat 20px 3px;
}
.editmajor .content .head li:nth-of-type(3),
.myprofessional .content .head li:nth-of-type(3) {
  background: url("../img/ui/3.jpg") no-repeat 20px 3px;
}
.editmajor .content .head li:nth-of-type(4),
.myprofessional .content .head li:nth-of-type(4) {
  background: url("../img/ui/4.jpg") no-repeat 20px 3px;
}
.editmajor .content .list .select-head,
.myprofessional .content .list .select-head {
  height: 48px;
  font: 14px/48px "微软雅黑";
  overflow: hidden;
}
.editmajor .content .list .select-head h3,
.myprofessional .content .list .select-head h3,
.editmajor .content .list .select-head ul,
.myprofessional .content .list .select-head ul {
  float: left;
  overflow: hidden;
}
.editmajor .content .list li,
.myprofessional .content .list li {
  float: left;
  padding-left: 14px;
}
.editmajor .content .list .select-head li a:hover,
.myprofessional .content .list .select-head li a:hover {
  cursor: pointer;
  color: #38761d;
}
.editmajor .content .list .select-head li.active a,
.myprofessional .content .list .select-head li.active a {
  background: #35b558;
  color: #fff;
}
.editmajor .content .myskills .text,
.myprofessional .content .myskills .text {
  width: 100%;
  height: 100%;
  border: none;
}
.editmajor .content .newAdd,
.myprofessional .content .newAdd {
  clear: both;
}
.editmajor .content .newAdd .tickUnit.proneed,
.myprofessional .content .newAdd .tickUnit.proneed {
  margin-right: 0 ;
  margin-bottom: 0;
}
.editmajor .content .newAdd .operation,
.myprofessional .content .newAdd .operation {
  clear: both;
  width: 293px;
  height: 30px ;
  border: 1px solid #cccccc;
  border-radius: 0 0 2px 2px;
  padding-left: 200px;
}
.editmajor .content .newAdd .operation a,
.myprofessional .content .newAdd .operation a {
  display: inline-block;
  width: 38px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.editmajor .content .newAdd .operation a:nth-of-type(2),
.myprofessional .content .newAdd .operation a:nth-of-type(2) {
  color: red;
}
.editmajor .content .btn-reverse,
.myprofessional .content .btn-reverse {
  color: #35b558;
}
.editmajor footer,
.myprofessional footer {
  position: relative;
  height: 80px;
  border-top: 2px solid #e1e1e1 ;
  margin-top: 39px;
}
.editmajor footer .savemypro,
.myprofessional footer .savemypro {
  position: absolute;
  left: 28px;
  top: 30px;
}
.editmajor footer .savemypro input,
.myprofessional footer .savemypro input {
  width: 18px;
  height: 18px;
}
.editmajor footer .savemypro label,
.myprofessional footer .savemypro label {
  font-size: 14px;
}
.editmajor footer .btn-reverse,
.myprofessional footer .btn-reverse {
  position: absolute;
  right: 24px;
  top: 20px;
}
.myprofessional {
  height: 460px;
}
.myprofessional .pro-name {
  height: 56px;
  width: 306px;
  margin-left: 20px ;
  margin-top: 22px;
}
.myprofessional .pro-name input {
  width: 100%;
  height: 56px ;
  font: 24px/56px "微软雅黑";
  color: red;
  padding-left: 9px;
}
.myprofessional .content {
  height: 244px;
  padding-bottom: 10px;
}
.myprofessional .content .head {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 28px;
}
.myprofessional .content .head h3 {
  float: left;
}
.myprofessional .content .head ul {
  float: right;
}
.myprofessional footer {
  margin-top: 0;
}
.extrademand {
  background: #fff;
  z-index: 910;
  width: 965px;
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #cccccc;
}
.extrademand > header {
  border-bottom: 2px solid #e1e1e1;
  overflow: hidden;
  height: 56px;
  line-height: 56px;
}
.extrademand > header h2 {
  float: left;
  width: 400px;
  padding-left: 10px ;
  font: 16px/56px "微软雅黑";
  border-bottom: 1px solid #f3f3f3;
}
.extrademand > header .close {
  float: right;
  padding-right: 25px;
  margin-right: 10px;
  height: 56px;
  width: 18px;
  background: url("../img/ui/close.jpg") no-repeat left 19px;
}
.extrademand > header .close:hover {
  cursor: pointer;
}
.extrademand .content {
  width: 907px;
  height: 236px;
  paddding: 0 19px;
  margin: 19px auto;
  overflow: hidden;
  position: relative;
}
.extrademand .textArea {
  float: left;
  width: 712px;
  width: 700px;
  height: 50px ;
  border: 1px solid #cccccc;
  padding-left: 10px;
  font: 14px/50px "微软雅黑";
}
.extrademand .selectArea {
  float: right;
  width: 182px;
}
.extrademand .selectArea .head {
  height: 50px;
  border: 1px solid #cccccc;
  overflow: hidden;
}
.extrademand .selectArea .head span {
  display: block;
  float: left;
  border-right: 1px solid #cccccc;
  width: 129px;
  height: 50px;
  font: 30px/50px "微软雅黑";
  color: #35b558;
  padding-left: 12px;
}
.extrademand .selectArea .head span strong {
  font-weight: normal;
}
.extrademand .selectArea .head i {
  float: right;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/ui/icon-select-2.jpg") no-repeat left top;
}
.extrademand .selectArea .con {
  border: 1px solid #cccccc;
  border-top: none;
  display: none;
}
.extrademand .selectArea .con li {
  height: 36px;
  font: 30px/36px "微软雅黑";
  padding-left: 12px ;
}
.extrademand .selectArea .con li:hover {
  cursor: pointer;
  background: #35b558;
  color: #fff;
}
.extrademand .btn-reverse {
  position: absolute;
  bottom: 120px;
  right: 0;
}
