@charset "utf-8";
.clearfix:after,
.power-require > header:after,
.mod-power:after,
.other-require > header:after {
  display: table;
  clear: both;
  content: " ";
}
hr {
  margin: 40px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e8e8e8 transparent #dad8d8 transparent;
}
.simditor {
  width: 495px;
}
.simditor .simditor-body {
  overflow-y: auto;
  min-height: 185px;
  max-height: 300px;
  font-size: 14px;
  line-height: 1.2;
}
.simditor .simditor-body p {
  margin-bottom: 5px;
}
.simditor .simditor-wrapper .simditor-placeholder {
  font-size: 14px;
}
.power-require {
  margin-bottom: 30px;
}
.power-require > header,
.other-require > header {
  margin-bottom: 30px;
}
.power-require > header .caption,
.other-require > header .caption {
  float: left;
  margin-bottom: 0;
}
.pr-note {
  float: right;
  margin-top: 10px;
}
.pr-note li {
  float: left;
  margin-right: 20px;
}
.pr-note li:last-child {
  margin-right: 0;
}
.pr-list .mod-power {
  margin-bottom: 20px;
}
.or-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-left: 3px solid #35B558;
  line-height: 30px;
  color: #333;
  font-size: 16px;
}
.or-list li .addScore {
  margin-right: 20px;
  color: #35B558;
  font-weight: normal;
}
.mod-power {
  padding: 25px 0;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.mod-power .power-control,
.mod-power .power-chart {
  height: 220px;
  padding: 0 20px;
}
.mod-power .power-control {
  float: left;
  width: 272px;
  border-right: 1px solid #e4e4e4;
}
.mod-power .power-control h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  color: #d32024;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}
.mod-power .power-control h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 40px;
  color: #333;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
.mod-power .power-import {
  margin-bottom: 65px;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mod-power .power-import .mod-range {
  margin: 0 4px;
}
.mod-power .power-ctrl-btns {
  float: right;
}
.mod-power .power-ctrl-btns .btn {
  float: left;
  height: 30px;
  margin-left: 8px;
  padding: 0 14px;
}
.mod-power .power-chart {
  margin-left: 273px;
}
.mod-power .power-chart > h4 {
  margin-bottom: 14px;
  color: #333;
  font-size: 14px;
  font-weight: normal;
}
.mod-power .mod-power-chart {
  margin-bottom: 46px;
}
.mod-power .power-import-note {
  position: relative;
  padding-right: 130px;
  height: 100px;
}
.mod-power .power-import-note li {
  margin-bottom: 23px;
}
.mod-power .power-import-note li:last-child {
  margin-bottom: 0;
}
.mod-power .power-import-note li > strong {
  display: block;
  margin-left: 178px;
  color: #333;
  font-weight: normal;
}
.mod-power .power-import-note .require-import {
  float: left;
  color: #999;
}
.mod-power .power-import-note .btn-edit {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 120px;
}
