// style footer
//
// @project
// @copyright
// @author      zhanghaibin
// @version     1.0
//

// CSS Menu
//
//
//
//

// *Footer
// ----------------------------------------

#footer {
    .copyright {
        width: 1000px;
        font-size: 12px;
        color: #999;
        text-align: center;
        padding: 20px;
        .mc;
        strong {
            font-weight: normal;
        }
        a {
            color: #999;
            &:hover {
                color: #35B558;
            }
        }
    }
}