// style footer
//
// @project
// @copyright
// @author      zhanghaibin
// @version     1.0
//

// CSS Menu
//
//
//
//

// *Footer
// ----------------------------------------

#footer .copyright {
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 20px;
    .copyright {
        width: 1000px;
        .mc;
        strong {
            font-weight: 400;
        }
        a {
            color: #999;
            &:hover {
                color: #35B558;
            }
        }
    }
}