// style header
//
// @project
// @copyright
// @author      zhanghaibin
// @version     1.0
//

// CSS Menu
//
// 
// 
// 

// *Header
// ----------------------------------------

#header {
    >.wrap {
        height: 65px;
    }
}

// logo
#logo {
    float: left;
    a {
        display: block;
        height: 65px;
    }
}
// user nav
#userNav {
    float: right;
}

// loading
#loading {
    width: 100%;
    height: 2px;
    background: #35B558;
}
