// style table
//
// @project
// @copyright
// @author      zhanghaibin
// @version     1.0
//

// CSS Menu
//
// Variable
// Base
// Statistic
//

// *Table Variable
// ----------------------------------------

@table-border: 1px solid #e4e4e4;
@table-th-td-border: 1px solid #e4e4e4;
@table-th-bg-color: #f5f5f5;
@interleave-odd-bg-color: #f5f5f5;
@interleave-even-bg-color: #f5f5f5;
@table-hover-bg-color: #f5f5f5;
@table-danger-bg-color: #f2dede;

// *Table Base
// ----------------------------------------

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    border: @table-border;

    >thead, >tbody, >tfoot {
        >tr {
            >th, >td {
                padding: 14px;
                border: @table-th-td-border;
                border-width: 1px 1px 0 1px;
                line-height: 20px;
                vertical-align: middle;
            }
        }
    }
    >thead>tr>th {
        background-color: @table-th-bg-color;
        border-top: 0;
    }
}
table th,table td {
    background: #fff;
    text-align: center;
}

/* table theme */
.table-line {
    >thead, >tbody, >tfoot {
        >tr {
            >th, >td {
                border-width: 1px 0 0 0;
            }
        }
    }
}

/* noborder */
.noborder {
    border: 0 !important;
}

/* interleave */
.interleave-odd {
    >tr:nth-child(odd) {
        >th, >td {
                background-color: @interleave-odd-bg-color;
        }
    }
}
.interleave-even {
    >tr:nth-child(even) {
        >th, >td {
                background-color: @interleave-even-bg-color;
        }
    }
}

/* hover */
table {
    >.hover>tr:hover {
        >th, >td {
            background-color: @table-hover-bg-color;
        }
    }
}

/* align */
table.table-left>thead>tr>th,
table.table-left>thead>tr>td,
table.table-left>tbody>tr>th,
table.table-left>tbody>tr>td,
table.table-left>tfoot>tr>th,
table.table-left>tfoot>tr>td,

table>thead>.table-left>th,
table>thead>.table-left>td,
table>tbody>.table-left>th,
table>tbody>.table-left>td,
table>tfoot>.table-left>th,
table>tfoot>.table-left>td,

table>thead>tr>.table-left,
table>tbody>tr>.table-left,
table>tfoot>tr>.table-left {
    text-align: left;
}

table.table-right>thead>tr>th,
table.table-right>thead>tr>td,
table.table-right>tbody>tr>th,
table.table-right>tbody>tr>td,
table.table-right>tfoot>tr>th,
table.table-right>tfoot>tr>td,

table>thead>.table-right>th,
table>thead>.table-right>td,
table>tbody>.table-right>th,
table>tbody>.table-right>td,
table>tfoot>.table-right>th,
table>tfoot>.table-right>td,

table>thead>tr>.table-right,
table>tbody>tr>.table-right,
table>tfoot>tr>.table-right {
    text-align: right;
}

table.table-center>thead>tr>th,
table.table-center>thead>tr>td,
table.table-center>tbody>tr>th,
table.table-center>tbody>tr>td,
table.table-center>tfoot>tr>th,
table.table-center>tfoot>tr>td {
    text-align: center;
}

/* table status */
.table {
    >thead, >tbody, >tfoot {
        >.danger {
            >th, >td {
                background-color: @table-danger-bg-color !important;
            }
        }
    }
}

// *Table Statistic
// ----------------------------------------

.table-statistic {
    color: #666;
    font-size: 14px;
    .box-shadow(3px 3px 3px rgba(0,0,0,.1));
    // 查看报告
    .viewlink {
        color: #666;
        font-size: 12px;
        .icon {
            position: relative;
            top: -1px;
        }
        &:hover {
            color: #35B558;
            .icon {
                background-position: -180px -62px;
            }
        }
    }
    // 奇数行变色
    .bg-odd td {
        background-color: #F9F9F9;
    }
    >thead>tr {
        >th {
            background-color: #eee;
            color: #000;
            font-weight: normal;
        }
    }
    >tbody>tr:nth-child(even) {
        display: none;
    }
    // 得分详情列表
    .t-scorelist {
        padding: 0;
        table {
            width: 100%;
        }
        th, td {
            padding: 6px;
        }
        tr>th:last-child,
        tr>td:last-child {
            padding-left: 40px;
        }
        thead {
            th {
                background-color: #eee;
                border: 1px solid #e4e4e4;
                border-width: 1px 0;
                color: #666;
                font-weight: normal;
            }
        }
    }
    // 得分
    .t-score {
        position: relative;
        padding: 0 80px 0 75px;
    }
    // 详情按钮
    .t-view {
        .user-select-none;
        position: absolute;
        right: 10px;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;
        .arrow {
            margin-right: 4px;
            .arrow-style(10px; #9f9f9f);
        }
    }
}
