/**
 * style common
 * 
 * @project	AIGUIHUA
 * @copyright	
 * @author		zhanghaibin
 * @version 	1.0
 * 
 * @colordef 	#666 				article text
 * @colordef	#316cd6				link & visible
 * @colordef	#e65143				hover & active
 * 
 */

/**
 * CSS Menu
 * 
 * URL
 * Structure
 * Element
 * - line
 * - icon
 * Banner
 * Slide
 * Header
 * Service
 * Footer
 */

/* URL
 ---------------------------------------- */

.icon,
.popup .hd .close {
	background-image: url(../img/element.png);
}

/* Structure
 ---------------------------------------- */

.wrapper {
	width: 100%;
}
.wrap {
	margin-right: auto;
	margin-left: auto;
}
#header,
#container,
#aside,
#main,
#footer,
.wrap {
	*zoom: 1;
}
#header:after,
#container:after,
#aside:after,
#main:after,
#footer:after,
.wrap:after {
	display: table;
	clear: both;
	content: " ";
}

#header>.wrap,
#crumbs>.wrap,
#container>.wrap,
#service>.wrap,
#footer>.wrap {
	width: 960px;
}

#aside {
	float: left;
	width: 220px;
}
#main {
	float: left;
	width: 740px;
}
#main>.wrap {
	padding: 20px 0;
	border-left: 1px solid #c9c9c8;
}

/* Element
 ---------------------------------------- */

/* line */
.line-1, .line-2 {
	width: 960px;
	height: 8px;
	margin: 0 auto;
	background: url(../img/line.png) no-repeat 50% 0;
}
.line-2 {
	background-position: 50% -8px;
}

/* icon */
.icon {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}

/* 50*50 */
.i-weixin,
.i-msg,
.i-order,
.i-email {
	width: 50px;
	height: 50px;
}
.i-weixin {
	background-position: 0 0;
}
.i-msg {
	background-position: -50px 0;
}
.i-order {
	background-position: -100px 0;
}
.i-email {
	background-position: -150px 0;
}

/* Banner
 ---------------------------------------- */

#banner>.wrap {
	position: relative;
	z-index: 10;
	width: 960px;
}
#banner .wavy {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 14px;
	background: url(../img/wavy.png) repeat-x 0 0;
}

/* Slide
 ---------------------------------------- */

#slide {
	position: relative;
	z-index: 10;
	overflow: hidden;
	height: 290px;
}
#slide .images {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}
#slide .images li {
	float: left;
	height: 290px;
}
#slide .images img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}
#slide .slidePaging {
	position: absolute;
	z-index: 30;
	bottom: 14px;
	left: 50%;
	width: 88px;
	margin: 0 0 0 -44px;
}
#slide .slidePaging ul {
	width: 88px;
	margin: 0 auto;
}
#slide .slidePaging li {
	overflow: hidden;
	float: left;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	background: url(../img/slide.png) no-repeat 0 0;
	cursor: pointer;
}
#slide .slidePaging li.rslides_here {
	background-position: -20px 0;
}
#slide .slidePaging li a {
	display: block;
	width: 100%;
	height: 100%;
}

#about #slide,
#about .images li {
	height: 370px;
}

/* Header
 ---------------------------------------- */

#header>.wrap {
	height: 64px;
}

#logo {
	float: left;
	width: 230px;
	height: 40px;
	margin: 14px 0 0 158px;
}
#logo img {
	vertical-align: bottom;
}
#nav {
	float: right;
	margin: 26px 60px 0 0;
}
#nav li {
	float: left;
	padding: 0 0 0 14px;
	color: #2a2a29;
	font-size: 16px;
	font-weight: 700;
}
#nav li a {
	margin-left: 14px;
	color: #2a2a29;
	text-decoration: none;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	transition: color .3s ease;
}
#nav li:hover a,
#nav li.on a {
	color: #ff7c00;
}
#nav li.on a {
	cursor: default;
}
#nav li i {
	color: #ff7c00;
}

/* Service
 ---------------------------------------- */
#service {

}
#service>.wrap {
	height: 70px;	
	padding: 6px 0 0;
	background: #3d3531 url(../img/service_wavy.png) repeat-x 0 0;
	border-bottom: 1px solid #544d48;
	text-align: center;
}
#service .item {
	position: relative;
	z-index: 200;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 176px;
}
#service .item>a {
	cursor: pointer;
}
#service .item .title {
	color: #fff;
	font-size: 12px;
}
#service .qrcode {
	position: absolute;
	bottom: 70px;
	left: 30px;
	display: none;
	padding: 5px;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/* Footer
 ---------------------------------------- */

#footer {
	width: 100%;
	min-width: 960px;
	min-height: 42px;
	color: #a0a0a0;
	text-align: center;
}
#footer>.wrap {
	background: #1e1b18;
}
#footer p {
	line-height: 42px;
}