/**
 * style control
 *
 * @project 	AIGUIHUA
 * @copyright
 * @author      zhanghaibin
 * @version 	1.0
 *
 */

/**
 * CSS Menu
 *
 * Control
 * - status
 * - note
 * - checkbox
 * - radio
 * - button
 * - text
 * - tel text
 * - select
 * - textarea
 */

/* Control
 ---------------------------------------- */

input,
button,
select,
label,
a.btn,
span.btn {
	vertical-align: middle;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	line-height: normal;
	cursor: pointer;
}
/* control status */

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active,
.btn.disabled:focus,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active,
.btn[disabled]:focus {
	background: #eee !important;
	border: 1px solid #e7e7e7 !important;
	color: #999 !important;
	cursor: default !important;
}
.txt:hover,
textarea:hover,
select:hover {
	border-color: #a5a5a5;
}
.txt:focus,
textarea:focus,
select:focus {
	border-color: #0792ef !important;
}
.focus {
	/* IE7 patch */
	border-color: #0792ef !important;
}
.placeholder {
	color: #999 !important;
}
.errIpt,
.errIpt:focus,
.errIpt:hover {
	background: #ffe8e8 !important;
	border: 1px solid #ef7f7f !important;
}
.successIpt {} .errTxt {
	color: #d70000 !important;
}
/* note */

.note {
	color: #666;
	vertical-align: middle;
}
span.note {
	padding-left: 5px;
}
div.note {
	clear: both !important;
	line-height: 1.8;
}
.note strong {
	color: #f00;
	padding: 0 5px;
}
.note b {
	padding: 0 5px;
}
/* checkbox & radio */

.chk,
.radio {
	width: 13px;
	height: 13px;
	margin-right: 5px;
}
label .radio,
label .chk {
	position: relative;
	top: -2px;
	*top: 0;
	left: 0;
}
/* button */

.btn,
a.btn,
span.btn {
	color: #fff;
}
.btn {
	height: 26px;
	padding: 0 14px;
	*padding: 0 7px;
	border: 1px solid #c8c8c8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
	white-space: nowrap;
}
a.btn,
span.btn {
	display: inline-block;
	height: 24px;
	padding: 0 14px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
a.btn:hover,
span.btn:hover {
	text-decoration: none;
}

/* button size */
.btn.sm {
	/* small */
	height: 22px;
	padding: 0 14px;
	*padding: 0 7px;
}
a.btn.sm,
span.btn.sm {
	height: 20px;
	padding: 0 14px;
	line-height: 20px;
}
.btn.lg {
	/* large */
	height: 28px;
	padding: 0 20px;
	*padding: 0 10px;
	font-size: 14px;
}
a.btn.lg,
span.btn.lg {
	height: 26px;
	padding: 0 20px;
	line-height: 26px;
}
.btn.xl {
	/* extra large */
	height: 46px;
	padding: 0 30px;
	*padding: 0 15px;
	font-size: 18px;
}
a.btn.xl,
span.btn.xl {
	height: 44px;
	padding: 0 30px;
	line-height: 44px;
}

/* button theme */

.btn-def {
	background: url(../img/btn_bg.jpg) repeat-x 0 0;
	border-color: #c8c8c8;
}

/* tel text */

.txt {
	width: 106px;
	height: 16px;
	padding: 4px 4px;
	border: 1px solid #c5c5c5;
	font-size: 12px;
	line-height: 16px;
}
.txt-radius {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.txt-tel {
	display: inline-block;
	*display: inline;
}
.txt-tel .telArea {
	width: 54px;
	margin: 0 4px 0 0 !important;
}
.txt-tel .telNum {
	width: 120px;
	margin: 0 4px !important;
}
.txt-tel .telExt {
	width: 54px;
	margin: 0 0 0 4px !important;
}
.txt-tel i {
	color: #c5c5c5;
	display: inline-block;
	font-family: simsun, \5b8b\4f53, arial;
	line-height: 26px;
}

/* txt section */
.txt-section {
	display: inline-block;
	*display: inline;	
	margin: 0 -4px;
}
.txt-section .txt {
	margin: 0 4px !important;
}
.txt-section i {
	color: #666;
	display: inline-block;
	font-family: simsun, \5b8b\4f53, arial;
	line-height: 26px;
}
/* txt section size */
.txt-section.xs .txt {
	padding: 2px 4px;
}
.txt-section.xs i {
	line-height: 22px;
}

/* select */
select,
.select {
	width: 75px;
	height: 22px;
	border: 1px solid #c5c5c5;
	outline: 0;
}
/* select height */

.select.xs {
	height: 22px;
}
.select.sm {
	height: 24px;
	padding: 1px;
}
.select {
	height: 26px;
	padding: 2px;
	*margin-top: 3px;
}
.select.lg {
	height: 28px;
	padding: 3px;
	*margin-top: 4px;
}
.select.xl {
	height: 30px;
	padding: 4px;
	*margin-top: 5px;
}
/* textarea */

textarea {
	overflow-y: auto;
	padding: 5px;
	background: #fff;
	border: 1px solid #c5c5c5;
	outline: 0;
	vertical-align: top;
}
.resize-none {
	resize: none;
}
.resize-h {
	resize: horizontal;
}
.resize-v {
	resize: vertical;
}